<article class="card post">
    <div class="card-header post-header">
        <a class="post-link" href="{{post_url}}" target="_blank">{{title}}</a>
    </div>
    <div>
        {{content}}<br> <br> by <span class="username">{{user.username}}</span> on {{created_at}}
        |
        <a href="/post/{{id}}"> {{comments.length}} comments </a>
    </div>
</article>