<div> 
    <h1>Your Posts</h1>
    
    {{#if posts.length}}
    <section>
    {{#each posts as |post|}}
    <article class="card post">
        <div class="card-header post-header d-grid">
            <a href="/dashboard/edit/{{post.id}}">{{title}}</a>
        </div>
        <div class="card-body">
            <p>{{content}}</p><br>
            Date:<p class="date">{{format_date created_at}}</p>

            {{comments.length}} {{format_plural "comment" comments.length}}
            {{#if post_url}}
            |
            <a class="text-dark" href="{{post_url}}" target="_blank">{{format_url post.post_url}}</a>
            {{/if}}
        </div>
    </article>
    {{/each}}
    </section>
    {{/if}}

    <a href="/dashboard/add-post" class="btn btn-danger create-post">Add Post</a>
</div>

