<article class="card post">
    <div class="card-header post-header d-grid">
        <h2>{{post.title}}</h2>

        {{#if post.post_url}}
        <a href="{{post.post_url}}" target="_blank">{{format_url post.post_url}}</a>
        {{/if}}
    </div>
    <div class="card-body">
        <p>{{post.content}}</p><br> <br>
        by <span class="username">{{post.user.username}}</span>
        | on <p class="date">{{format_date post.created_at}}</p>
        
        {{post.comments.length}} {{format_plural "comment" comments.length}}
    </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
    <div class="d-grid">
        <label for="comment-text" class="comment-label">Add a comment:</label>
        <div>
            <textarea name="comment-text" id="comment-text"></textarea>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary ms-3">submit</button>
    </div>
</form>
{{/if}}

<div class="item-container">
    <h4 class="title"> Comments:</h4>
</div>
{{>comments post.comments}}
{{#if loggedIn}}
<script src="/scripts/Comment.js"></script>
{{/if}}
