<section class="d-grid m-3 justify-content-center">
    <article class="card post">
        <div class="card-header post-header">
            <h2 class="post-title">{{post.title}}</h2>   
        </div>
        <div class="card-body">
            <p>{{post.content}}</p><br><br><br>

            <div class="d-flex justify-content-between">
            <p class="username"><span class="date">Posted by:</span> {{post.user.username}}<span class="date"> | on {{format_date post.created_at}}</span></p>
            <p>{{post.comments.length}} {{format_plural "comment" comments.length}}</p>
            </div>

            {{#if post.post_url}}
            <a class="web-link" href="{{post.post_url}}" target="_blank">{{format_url post.post_url}}</a>
            {{/if}}
        </div>
    </article>
</section>

{{#if loggedIn}}
<form class="container comment-form">
    <div class="d-grid">
        <label for="comment-text" class="comment-label">Add a comment:</label>
        <div>
            <textarea name="comment-text" id="comment-text"></textarea>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary ms-3">submit</button>
    </div>
</form>
{{/if}}

<div class="item-container">
    <h4 class="title"> Comments:</h4>
</div>
<section class="container">
    {{>comments post.comments}}
</section>
{{#if loggedIn}}
<script src="/scripts/comment.js"></script>
{{/if}}
